<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/admin/admin-navbar.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>