<!-- Footer -->
<footer class="text-muted bottom m-auto">

        <!-- Copyright -->
        <div class="  text-center bg-dark p-3">© 2019 Copyright:
          <span class="text-white">EmployMe</span>
        </div>
        <!-- Copyright -->
</footer>
      <!-- Footer -->

