<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-success p-3 primary-navbar">
    <a class="navbar-brand" href="/">EmployMe</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item primary-navbar <%= path==='jobseeker/' ? 'active' :'' %> ">
            <a class="nav-link " href="/jobseeker/">Home</a>
        </li>
        <li class="nav-item primary-navbar <%= path==='/resume' ? 'active' :'' %> ">
            <a class="nav-link " href="/jobseeker/resume">Build/Edit Resume</a>
        </li>
        <li class="nav-item primary-navbar <%= path==='/manage-profile' ? 'active' :'' %>">
            <a class="nav-link  ml-2" href="/jobseeker/manage-profile">Manage Profile</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown <%= path==='/login' ? 'active' :'' %>">
            <a
                class="nav-link dropdown-toggle btn btn-success"
                href=""
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
               Job Seeker
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/login">Edit Account</a>
                <div class="dropdown-divider"></div>
                <form action="/logout" method="POST">
                    <button class="dropdown-item bg-secondary" type="submit">Log Out</button>
                </form>
            </div>
        </li>
    </ul>
</nav>
<!-- END -->
