<aside id="side-tab" class="float-left">
    <ul class="nav nav-tabs flex-column nav-pills nav-fill rounded ">
        <li class="nav-item border rounded-top border-primary">
            <a class="nav-link active" href="#">Instructions</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link" href="#">Summary</a>
        </li>
        <li class="nav-item border -top border-primary">
            <a class="nav-link" href="#">Work Experience</a>
        </li>
        <li class="nav-item border  border-primary">
            <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item border  border-primary">
            <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item border  border-primary">
            <a class="nav-link" href="#">Personal Information</a>
        </li>
        <li class="nav-item border bg-success rounded-bottom border-primary">
            <a class="nav-link text-light" href="#">Generate CV</a>
        </li>
    </ul>
</aside>
