textarea {
    resize: none;
}

#navbar .active {
    border: 2px solid #33313b;
    background-color: #4592af;
    border-radius: 10px;
}

#side-tab {
    margin: 10px 5px;
    display: inline-block;
    padding: 5px;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
}

main.container {
    margin: 10px 1px;
    display: inline-block;
    width: 75%;
    box-sizing: border-box;
}

.resume-form {
    text-align: center;
    padding: 5px;
}

.skill-submit {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.container-custom {
    margin: 10px auto;
    padding: 10px;
    width: 70%;
}

.manage-profile-form {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 1.8;
    background: #f9f8eb;
    box-shadow: #4592af
}

.manage-profile-body {
    background: #ffffff;
}
