textarea{
    resize: none;
}

#navbar .active {
    border: 2px solid #33313b;
    background-color: #4592af;
    border-radius: 10px;
}

#side-tab {
    margin: 10px 5px;
    display: inline-block;
    padding: 5px;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
}

main.container {
    margin: 10px 1px;
    display: inline-block;
    width: 75%;
    box-sizing: border-box;
}

.summary-form{

    text-align: center;
    padding: 5px;
}
