<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>

    <header class="startup text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-12 my-auto">
                    <h1 class="text-uppercase faded">
                        <strong>Add your resume and let your next job find you.</strong>
                    </h1>
                    <p class="lead">It's your career. It's your life. It's your time.</p>
                    <hr />
                </div>
                <div class="col-lg-12 my-auto">
                    <p class="lead">
                        <a
                            class="btn btn-custom btn-primary btn-lg btn-xl"
                            href="/signup"
                            role="button"
                            >Register</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!-- <div>
        <main role="main" class="inner cover">
                <h1 class="cover-heading">Add your resume and let your next job find you.</h1>
                <p class="lead">It's your career. It's your life. It's your time.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>
        Main content
</div> -->
    <section id="about">
        <div class="jumbotron">
            <h1 class="display-4">We've got what you need!</h1>
            <p class="lead">About Us.</p>
            <hr class="my-4" />
            <p>
                Our task as international recruitment consultants focuses on two areas: We acquire
                vacant positions provided by employers and are also constantly expanding our
                database of potential candidates. Our recruitment agency is specialised in placing
                skilled and executive employees in the hotel, gastronomy, cruise and tourism
                sectors. Our recruitment agency creates a placement profile for every job offer,
                compares this with our data on existing candidates and carries out a profiling
                procedure to determine the right candidate for you. As recruitment consultants, our
                objective is to initiate a contractual agreement between the employer and the
                candidate with regard to an employment relationship, which is beneficial to both
                parties. The recruitment agency is usually paid by the employer. That’s why the job
                profile and profile of requirements take centre stage for our recruitment
                consultants. As a recruitment agency we meet the high demands placed upon us by
                companies and candidates. Our job description requires us to remain neutral and to
                maintain a professional distance from individual cases at all times. Recruitment
                consultants stand out due to their many attributes such as their strong
                communication skills, willingness to travel, quick grasp of matters, excellent
                self-organisation and time scheduling abilities. Our staff are experts in contract
                law, employment law as well as marketing and public relations. As recruitment
                consultants we work on results-based fees. This means that we only receive a fee if
                recruitment has been successful and if the position has also been successfully
                occupied.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
            </p>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>
</body>

</html>