<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<!-- Custom styles for this template -->
<link href="/css/jobSeeker/login.css" rel="stylesheet" />
</head>

<body class="text-center">
        <%- include('partials/navbar.ejs') %>
    <form class="center form-signin mt-5 mb-3 p-2">
        <img
            class="mb-4"
            src="/docs/4.3/assets/brand/bootstrap-solid.svg"
            alt=""
            width="72"
            height="72"
        />
        <h1 class="h3 mb-3 font-weight-normal">Admin Sign In</h1>
        <label for="username" class="sr-only">Username</label>
        <input
            type="text"
            id="username"
            class="form-control"
            placeholder="Username"
            required
            autofocus
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
        />

        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
        
    </form>


    <%- include('partials/footer.ejs') %>
</body>
