<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/footer.css">
<!-- Custom styles for this template -->

<link href="/css/jobseeker/login.css" rel="stylesheet" />
</head>

<body class="text-center">
	<%- include('partials/navbar.ejs') %> <% if (error){ %>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	</div>
	<% } %>
	<form action="/login/admin" method="POST" class="center form-signin mt-5 mb-3 p-2">
		<h1 class="h3 mb-3 font-weight-normal">Admin Sign In</h1>
		<label for="username" class="sr-only">Username</label>
		<input
			type="text"
			id="username"
			name="username"
			class="form-control"
			placeholder="Username"
			required
			autofocus
		/>
		<label for="inputPassword" class="sr-only">Password</label>
		<input
			type="password"
			id="inputPassword"
			name="password"
			class="form-control"
			placeholder="Password"
			required
		/>

		<button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
	</form>

	<%- include('partials/footer.ejs') %>
</body>
</html>
