<%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="p-3 d-flex justify-content-center ">
        <form action="/signup" method="POST">

                <div class="alert alert-danger" role="alert">
                        This is a danger alert—check it out!
                </div>


            <div class="form-group row">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    aria-describedby="nameHelp"
                    placeholder="Enter your name"
                    required
                />
                <small id="ameHelp" class="form-text text-muted"
                    >Enter your full name.</small
                >
            </div>

            <div class="form-group row">
                <label for="email">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    required
                />
                <small id="emailHelp" class="form-text text-muted"
                    >We'll never share your email with anyone else.</small
                >
            </div>

            <div class="form-group row">
                <label for="password">Password</label>
                <input autocomplete="off" type="password" class="form-control" name="password" id="password" placeholder="Password" />
            </div>

            <div class="form-group row">
                <label for="confirm_password">Confirm Password</label>
                <input
                    autocomplete="off"
                    type="password"
                    class="form-control"
                    name="password2"
                    id="confirm_password"
                    placeholder="Confirm Password"
                    required
                />
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="tos_check" required />
                <label class="form-check-label" for="tos_check"
                    >I agree to the terms and conditions</label
                >
            </div>
            <button type="submit" class="btn btn-primary p-2 mt-3">Submit</button>
        </form>
    </div>

    <%- include('partials/footer.ejs') %>
</body>

</html>
