<%- include('../../partials/jobseeker/jobseeker-head.ejs') %>
<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <%- include('../../partials/jobseeker/jobseeker-navbar.ejs') %> <%-
    include('../../partials/jobseeker/resume-sidebar.ejs') %>

    <main class="container float-right">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Create your CV</h1>
                <p class="lead">
                    Start filling out each of the sections. You may edit existing details as well.
                    Once each of the relevant sections have been filled you can generate your CV
                    automatically, based on the information given.
                </p>
            </div>
        </div>
    </main>

    <%- include('../../partials/footer.ejs') %>
</body>