<%- include('../../partials/jobseeker/jobseeker-head.ejs') %>
</head>

<body>
    <%- include('../../partials/jobseeker/jobseeker-navbar.ejs') %> <%-
    include('../../partials/jobseeker/resume-sidebar.ejs') %>

    <main class="container text-justify row">
        <form class="summary-form col" action="/jobseeker/resume/work-experience" method="POST">
            <h1 class="text-center">List down your work experiences</h1>
            <div class="form-group">
                <label for="we-title">Title</label>
                <input
                    class="form-control"
                    name="title"
                    type="text"
                    placeholder="Your work title"
                />
            </div>
            <div class="form-group">
                <label for="we-category">Job Category</label>
                <input
                    class="form-control"
                    name="category"
                    type="text"
                    placeholder="Job category"
                />
            </div>
            <div class="form-group ">
                <label for="we-duration">Duration in months in the job category</label>
                <input
                    class="form-control"
                    name="duration"
                    type="number"
                    min="0"
                    placeholder="Duration in months"
                />
            </div>
            <div class="form-group ">
                <label for="start-date">Start Date</label>
                <input
                    class="form-control"
                    type="date"
                    name="startDate"
                    placeholder="Start Date"
                />
            </div>
            <div class="form-group ">
                <label for="end-date">End Date</label>
                <input
                    class="form-control"
                    type="date"
                    name="endDate"
                    placeholder="End Date"
                />
                <small id="endDateHelp" class="form-text text-muted"
                >Leave this blank if you are presently working in this job.</small
            >
            </div>
            <div class="form-group">
                <label for="we-description">Description</label>
                <textarea
                    class="form-control"
                    name="description"
                    id=""
                    cols="20"
                    rows="10"
                    placeholder="Brief description of your job role"
                ></textarea>
            </div>
            <button
                type="button"
                class="btn btn-secondary float-left"
                data-toggle="modal"
                data-target="#view-work"
            >
                View Work Experiences
            </button>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </main>

    <!-- Modal -->
    <div
        class="modal fade"
        id="view-work"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
</body>
