<%- include('../partials/jobseeker/jobseeker-head.ejs') %>
</head>

<body>
        <%- include('../partials/jobseeker/jobseeker-navbar.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
