<%- include('../partials/jobseeker/jobseeker-head.ejs') %>
</head>

<body class="manage-profile-body">
    <%- include('../partials/jobseeker/jobseeker-navbar.ejs') %>
    <main class="container-custom">
        <form
            class="manage-profile-form border border-warning"
            action="/jobseeker/manage-profile"
            method="POST"
        >
            <div class="row">
                <div class="form-group col">
                    <label for="job-sector">Preferred Job Sector</label>
                    <select class="form-control" name="sector" id="job-sector">
                        <option value="" selected disabled hidden>--Select one--</option>
                        <option value="">Accountancy, banking and finance.</option>
                        <option value="">Business, consulting and management.</option>
                        <option value="">Charity and voluntary work.</option>
                        <option value="">Creative arts and design.</option>
                        <option value="">Energy and utilities.</option>
                        <option value="">Engineering and manufacturing.</option>
                        <option value="">Environment and agriculture.</option>
                        <option value="">Healthcare.</option>
                        <option value="IT">Information Technology.</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="education-level">Your highest completed education level</label>
                    <select class="form-control" name="education" id="education">
                        <option value="" selected disabled hidden>--Select one--</option>
                        <option value="1">Junior School</option>
                        <option value="2">High School</option>
                        <option value="3">Diploma</option>
                        <option value="4">Undergratuate Degree</option>
                        <option value="5">Masters</option>
                        <option value="6">Ph.D</option>
                    </select>
                </div>
            </div>
                <div class="row">
                <div class="form-group col">
                    <label for="">Number of GCSE O/Level Passes</label>
                    <input class="form-control" type="number" min="0" max="10" />
                </div>
                <div class="form-group col">
                    <label for="">Number of GCSE A/Level Passes</label>
                    <input class="form-control" type="number" min="0" max="10" />
                </div>
            </div>
  
            <hr>

            <h1>Qualifications</h1>
            <p>Select where applicable, else select none</p>
            <div class="form-group">
                <label for="">A/Level Stream</label>
                <select class="form-control input" name="" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Science</option>
                    <option value="">Commerce</option>
                    <option value="">Arts</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Diploma</label>
                <select class="form-control" name="" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Business Studies </option>
                    <option value="">Management Studies </option>
                    <option value="">Technology Studies </option>
                    <option value="">Design Studies </option>
                    <option value="">Economic Studies </option>
                    <option value="">Tourism and Hospitality </option>
                    <option value="">Art Studies </option>
                    <option value="">Food and Beverage Studies </option>
                    <option value="">Computer Science </option>
                    <option value="">Business </option>
                    <option value="">Engineering Studies </option>
                    <option value="">Journalism and Mass Communication </option>
                    <option value="">Administration Studies </option>
                    <option value="">Marketing Studies </option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Bachelor's Degree</label>
                <select  class="form-control" name="" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Business</option>
                    <option value="">Health professions and related programs</option>
                    <option value="">Social sciences and history</option>
                    <option value="">Psychology</option>
                    <option value="">Biological and biomedical sciences</option>
                    <option value="">Engineering</option>
                    <option value="">Visual and performing arts</option>
                    <option value="">Education</option>
                    <option value="">Communication, journalism, and related programs</option>
                    <option value="">Homeland security, law enforcement, and firefighting</option>
                    <option value="">Computer and information sciences</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Masters</label>
                <select class="form-control" name="" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Business</option>
                    <option value="">Health professions and related programs</option>
                    <option value="">Social sciences and history</option>
                    <option value="">Psychology</option>
                    <option value="">Biological and biomedical sciences</option>
                    <option value="">Engineering</option>
                    <option value="">Visual and performing arts</option>
                    <option value="">Education</option>
                    <option value="">Communication, journalism, and related programs</option>
                    <option value="">Homeland security, law enforcement, and firefighting</option>
                    <option value="">Computer and information sciences</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">PhD</label>
                <select class="form-control" name="" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Business</option>
                    <option value="">Health professions and related programs</option>
                    <option value="">Social sciences and history</option>
                    <option value="">Psychology</option>
                    <option value="">Biological and biomedical sciences</option>
                    <option value="">Engineering</option>
                    <option value="">Visual and performing arts</option>
                    <option value="">Education</option>
                    <option value="">Communication, journalism, and related programs</option>
                    <option value="">Homeland security, law enforcement, and firefighting</option>
                    <option value="">Computer and information sciences</option>
                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Professional Qualifications</label>
                <select class="form-control" name="" id="">
                    <option value="" selected disabled hidden>--Select one--</option>
                    <option value="">Association of Chartered Certified Accountants (ACCA)</option>
                    <option value="">BCS - The Chartered Institute for IT</option>
                    <option value=""
                        >Chartered Institute of Personnel and Development (CIPD)</option
                    >
                    <option value="">Institution of Civil Engineers (ICE)</option>
                    <option value="">Royal Institution of Chartered Surveyors (RICS).</option>

                    <optgroup>""</optgroup>
                    <option value="">None</option>
                </select>
            </div>
            <button class="btn btn-primary" >Submit Changes</button>
            <button class="btn btn-danger">Reset</button>
            <br>
            <hr>
            <h1>Skills and Experience</h1>
            <p>Your skills and experience will be managed from the resume manager section. If you haven't filled them out,
                you may do so by clicking on the button below:                
            </p>
            <a class="btn btn-warning" href="/jobseeker/resume/skills">Update Skills</a>
            <a class="btn btn-success" href="/jobseeker/resume/experience">Update Work Experience</a>
    
 
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
